/BunnysLie/Library
/BunnysLie/[Ll]ibrary/
/BunnysLie/[Tt]emp/
/BunnysLie/[Oo]bj/
/BunnysLie/[Bb]uild/
/BunnysLie/[Bb]uilds/
/BunnysLie/[Ll]ogs/
/BunnysLie/[Uu]ser[Ss]ettings/
/BunnysLie/[Aa]ssets/Plugins/Editor/JetBrains*
*.log
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*
# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
/BunnysLie_clone_0
/BunnysLie/Temp
Server/BunnysLie_Server/ssh-key-private.key
/Server/BunnysLie_Server/BunnysLie_Server/bin
/Server/BunnysLie_Server/BunnysLie_Server/obj
/Server/BunnysLie_Server/out
/BunnysLie/Logs
/BunnysLie/Logs
/BunnysLie_clone_1
